In [43]:
import pandas as pd
import sqlite3

In [44]:
df = pd.read_excel("projects.xlsx")
df

,Project.Title,Project.Technologies,Technical_Skillset.Frontend,Technical_Skillset.Backend,Technical_Skillset.Databases,Technical_Skillset.Infrastructre
0,Project 1,"Python, HTML, CSS, Machine Learning, Deep Lear...","HTML, CSS, JavaScript",Python,NaN,NaN
1,Project 2,"Java Spring Boot, Hibernate, MySQL",React JS,"Java, Spring Boot, Hibernate",MySQL,Not specified
2,Project 3,"Java, HTML, CSS, JavaScript","React, HTML, CSS","Java, Python Django, Flask","MySQL, MongoDB, Postgres","AWS, Azure OCR, Apache, Docker"
3,Project 4,"Websockets, Redis, Channel layers",React,"Python Django, Django Rest",MySQL,Not Mentioned
4,Project 5,"Python, Scrapy framework, MongoDB",React Native,"Python, Django",MongoDB,Not Specified
...,...,...,...,...,...,...
95,Project 96,"React JS, Node.js",React JS,Node.js (Learning),Not Mentioned,Not Mentioned
96,Project 97,"Mongoose, React JS, Node JS",React JS,Node JS,Mongoose,Not Mentioned
97,Project 98,"Open pose, MRCP CNN, Pandas, scikit learn, Python","HTML, JavaScript, jQuery, CSS","Python, Django","MySQL, MSSQL",Not Mentioned
98,Project 99,"React.js, Redux, Schema UI, Config one UI, Liv...",React.js,Willing to learn,Good understanding of data structures and algo...,Not Mentioned
99,Project 100,Front-end and Back-end frameworks,7.5/10,08-Oct,Not Mentioned,Azure DevOps

In [45]:
df.fillna("None", inplace=True)

In [46]:
# convert strings into list of values
df["Project.Technologies"] = df["Project.Technologies"].str.split(", ", expand=False)
df["Technical_Skillset.Frontend"] = df["Technical_Skillset.Frontend"].str.split(
    ", ", expand=False
)
df["Technical_Skillset.Backend"] = df["Technical_Skillset.Backend"].str.split(
    ", ", expand=False
)
df["Technical_Skillset.Databases"] = df["Technical_Skillset.Databases"].str.split(
    ", ", expand=False
)
df["Technical_Skillset.Infrastructre"] = df[
    "Technical_Skillset.Infrastructre"
].str.split(", ", expand=False)

In [47]:
# connect the local db
conn = sqlite3.connect("db.sqlite3")

In [48]:
# technologies
proj_tech = df[["Project.Title", "Project.Technologies"]]
proj_tech = proj_tech.explode("Project.Technologies")

# push to db
proj_tech.to_sql("projTech", conn, if_exists="replace", index=False)

392

In [49]:
# frontend
proj_frnt = df[["Project.Title", "Technical_Skillset.Frontend"]]
proj_frnt = proj_frnt.explode("Technical_Skillset.Frontend")

# push to db
proj_frnt.to_sql("skillFront", conn, if_exists="replace", index=False)

214

In [50]:
# backend
proj_back = df[["Project.Title", "Technical_Skillset.Backend"]]
proj_back = proj_back.explode("Technical_Skillset.Backend")

# push to db
proj_back.to_sql("skillBack", conn, if_exists="replace", index=False)

182

In [51]:
# db
proj_db = df[["Project.Title", "Technical_Skillset.Databases"]]
proj_db = proj_db.explode("Technical_Skillset.Databases")

# push to db
proj_db.to_sql("skillDb", conn, if_exists="replace", index=False)

119

In [52]:
# infrastructure
proj_infra = df[["Project.Title", "Technical_Skillset.Infrastructre"]]
proj_infra = proj_infra.explode("Technical_Skillset.Infrastructre")

# push to db
proj_infra.to_sql("skillInfra", conn, if_exists="replace", index=False)

110

In [53]:
# read any table
# pd.read_sql("select * from skillInfra", conn)

# Close the connection
conn.close()